name: 04- using Actions

on:
  - push

jobs:
    use-actions:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Printing Folder Structure
          run: |
            ls -la
            pwd
            ls -la 04-using-actions || true


        - name: Setup Node.js Environment
          uses: actions/setup-node@v3
          with:
            node-version: '20.x'

        - name: Install Dependencies
          run: npm ci
          working-directory: 04-using-actions/react-app
