name: 04- using Actions

on:
  - push

jobs:
    use-actions:
      runs-on: ubuntu-latest
      defaults:
        run: 
         working-directory: 04-using-actions/react-app
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Printing Folder Structure
          run: |
            ls -la
            pwd
            ls -la 04-using-actions/react-app


        - name: Setup Node.js Environment
          uses: actions/setup-node@v3
          with:
            node-version: '20.x'

        - name: Install Dependencies
          run: npm ci
          
        - name: Run Tests
          run: npm test
