name: 04- using Actions

on:
  - push

jobs:
    use-actions:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Printing Folder Structure
          run: ls -la
