name: 10 -Controlling Execution Flow
on:
  workflow_dispatch:
    inputs:
      pass-unit-tests:
        type: boolean
        default: true

jobs:
    lint-build:
      runs-on: ubuntu-latest
      steps:
        - name: Simulate Linting and Building
          run: |
            echo "Linting and Building the project..."


    unit-tests:
      runs-on: ubuntu-latest
      continue-on-error: true
      steps:
        - name: Running Unit Tests
          run: |
            echo "Running Unit Tests..."

        - name: Failing tests
          if: ${{ !inputs.pass-unit-tests }}
          run: exit 1

    deploy-nonprod:
        runs-on: ubuntu-latest
        needs: [lint-build, unit-tests]
        steps:
          - name: Deploy to Non-Production Environment
            run: |
              echo "Deploying to Non-Production Environment..."

    e2e-tests:
        runs-on: ubuntu-latest
        needs: deploy-nonprod
        steps:
          - name: Running End-to-End Tests
            run: |
              echo "Running End-to-End Tests..."

    load-tests:
        runs-on: ubuntu-latest
        needs: deploy-nonprod
        steps:
          - name: Running Load Tests
            run: |
              echo "Running Load Tests..."

    deploy-prod:
        runs-on: ubuntu-latest
        needs: [e2e-tests, load-tests]
        steps:
          - name: Deploy to Production Environment
            run: |
              echo "Deploying to Production Environment..."
