name: 11 - Working with Inputs
on:
  workflow_dispatch:
    inputs:
        dry-run:
          description: 'Skip deployment and only print build output'
          required: false
          default: 'true'

        target:
          description: 'Deployment target environment'
          required: true
          default: 'staging'
          type: choice
          options:
            - staging
            - production

        tag:
          description: 'Release from which to build and deploy'
          required: false
          type: choice
          default: 'v3'
          options:
            - v1
            - v2
            - v3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          echo "Building the project from tag: ${{ inputs.tag }}"

      - name: Deploy
        if: ${{ success() }}
        run: |
          echo "Deploying to ${{ inputs.target }} from tag: ${{ inputs.tag }}"