name: Working with outputs
on:
  workflow_dispatch:
    inputs:
        build-status:
            description: 'Simulated build status'
            type: choice
            default: 'success'
            options:
              - success
              - failure
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print GITHUB_OUTPUT Path
        id: build_step
        run: |
            echo "GITHUB_OUTPUT is set to: $GITHUB_OUTPUT"

      - name: Build
        id: build
        run: |
          if [ "${{ inputs.build-status }}" == "success" ]; then
            echo "build_status=success" >> $GITHUB_OUTPUT
            echo "Build succeeded."
          else
            echo "build_status=failure" >> $GITHUB_OUTPUT
            echo "Build failed."
            exit 1
          fi

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        run: |
          if [ "${{ needs.build.outputs.build_status }}" == "success" ]; then
            echo "Deploying the application..."
          else
            echo "Skipping deployment due to build failure."
          fi      